<!DOCTYPE html>
<html>
<head>
  <title>Fest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Fest", root_path %>
	<%= link_to "Ladies", ladies_path %>
	<%= link_to "luxury", luxury_path %>
	<%= link_to "Parties", parties_path %>
	<%= yield %>

</body>
</html>
